@model SayMyName.Models.SlaveViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
</head>
	<body>
		<h1>Slave Registration</h1>
		<div>
			@using(Html.BeginForm())
			{
				<ul>
					<li>
						@Html.LabelFor(m => m.Description)
						@Html.TextBoxFor(m => m.Description)
					</li>
					<li>
						@Html.LabelFor(m => m.Fingerprint)
						@Html.TextBoxFor(m => m.Fingerprint, new { @readonly="readonly"})
					</li>
					<li>
						@Html.LabelFor(m => m.CurrentLocation)
						@Html.TextBoxFor(m => m.CurrentLocation, new { @readonly="readonly"})
					</li>
				</ul>
			}
		</div>
	</body>
</html>
